@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");

* {
  box-sizing: border-box;
}

.header {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #11346f;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header2 {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f5fdffcc;
  font-family: "Montserrat", sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(235, 235, 235);
}
.magic {
  color: #213786;
  font-weight: 900;
  font-size: 30px;
}
.order {
  width: 165px;
  height: 42px;
  background: #197aff;
  border-radius: 60px;
  text-align: center;
  line-height: 42px;
  font-weight: 900;
}
.header2-text {
  display: flex;
  color: #11346f;
  gap: 60px;
  align-items: center;
}
.why {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #11346f;
}
.nav-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #11346f;
}

.big-header {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 63px;
  padding-left: 100px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.big-header-text {
  font-weight: 700;
  font-size: 42px;
  color: #11346f;
}
.big-header-text span {
  color: #197aff;
}
.big-header-text-flex {
  display: flex;
  gap: 20px;
}
.vector {
  width: 171px;
  height: 6px;
}
.vector-width {
  max-width: 800px;
  margin-top: -18px;
  display: flex;
  justify-content: flex-end;
}
.article {
  max-width: 731px;
  font-weight: 600;
  font-size: 18px;
  color: #262626;
}
.little-box-control {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
  max-width: 1440px;
}
.little-box {
  display: flex;
  max-width: 731px;
  background-color: rgba(174, 204, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 10px;
  padding: 15px 0 15px 0;
  box-sizing: border-box;
  justify-content: space-between;
}
.box-text1 {
  font-weight: 800;
  font-size: 15px;
  text-align: center;
  color: #11346f;
}
.reduce {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: #262626;
  font-family: "Montserrat", sans-serif;
}
.head-img {
  height: 30.825075149536133px;
  width: 26.64832305908203px;
}
.box1 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgb(207, 207, 207);
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.box2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.last-header {
  max-width: 1440px;
  margin: 52px auto;
  padding-left: 100px;
}
.last-header .order {
  width: 408px;
  height: 63px;
  background-color: #197aff;
  border-radius: 60px;
  line-height: 63px;
  color: white;
}
.get-the-massage {
  font-family: "Mont";
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.bundles {
  margin-top: 28px;
  width: 255px;
  height: 34px;
  background-color: rgba(77, 145, 207, 0.15);
  box-shadow: 0px 0px 14px #ffffff;
  border-radius: 30px;
  line-height: 34px;
  margin-left: 76px;
}
.bundles-text {
  font-family: "Montserrat";
  font-weight: 900;
  font-size: 15px;
  text-align: center;
  color: #000000;
}
.bundles-text span {
  color: #197aff;
}
.bundles-flex {
  display: flex;
  justify-content: space-between;
  padding-right: 100px;
}
.qali {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.bundle-right {
  max-width: 393px;
  padding: 8px 0 9px 12px;
  background: rgba(234, 242, 255, 0.1);
  border: 1px solid rgba(174, 204, 255, 0.5);
  border-radius: 110px;
}
.bundle-box {
  display: flex;
  gap: 16px;
}
.feels {
  margin-top: 5px;
  font-weight: 700;
  font-size: 12px;
  color: #000000;
}
.star {
  width: 14px;
  height: 14px;
}
.stars {
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.stars1 {
  display: flex;
  gap: 1px;
  align-items: center;
}
.hidden-text-375-2 {
  display: none;
}
.debra {
  margin-left: 5px;
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 12px;
  color: #787979;
  display: flex;
}
.ver {
  font-weight: 800;
  font-size: 11px;
  text-align: center;
  color: #197aff;
}
.ver1 {
  display: flex;
  gap: 5px;
  margin-left: 15px;
  align-items: center;
}
.img-vector {
  max-width: 51px;
  max-height: 42px;
}
.hidden-text {
  display: none;
}
.big-header-yleoba {
  display: flex;
  gap: 10px;
  align-items: center;
}
.dron {
  display: none;
  width: 50%;
  max-height: 300px;
}

.order1 {
  width: 408px;
  height: 63px;
  background: #197aff;
  border-radius: 60px;
  text-align: center;
  line-height: 63px;
  font-weight: 900;
}

@media (max-width: 1010px) {
  .header2-text {
    display: none;
  }
  .order {
    display: none;
  }
  .magic {
    margin: 0 auto;
  }
  .little-box-control {
    display: flex;
    flex-direction: column;
  }
  .dron2 {
    max-width: 400px;
    margin: 10px auto;
  }
  .last-header {
    display: flex;
    flex-direction: column;
    max-width: 1010px;
    margin: 52px auto;
    padding-left: 0;
  }
  .bundles-flex {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .order1 {
    margin: 0 auto;
  }
  .little-box {
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
  }
  .img-vector {
    display: none;
  }
  .vector {
    display: none;
  }
  .big-header {
    padding-left: 50px;
  }
  .bundle-right {
    margin: 10px 0 0 70px;
  }
  .bundles {
    margin-left: 121px;
  }
  .box1 {
    border-right: 0;
  }
  .header {
    width: 100%;
  }
  .header2 {
    width: 100%;
  }
}
@media (max-width: 375px) {
  .header {
    max-width: 375px;
    font-size: 14px;
  }
  .header2 {
    max-width: 375px;
    justify-content: center;
  }
  .header2-text {
    display: none;
  }
  .order {
    display: none;
  }
  .big-header-text {
    max-width: 200px;
    font-size: 26px;
  }
  .big-header-text-flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  .vector-width {
    width: 30%;
    margin-top: -10px;
    margin-left: 20px;
  }
  .vector {
    width: 80%;
  }
  .img-vector {
    width: 100%;
    height: 100%;
    margin-top: 90px;
    margin-left: 132px;
    position: absolute;
    transform: rotate(270deg);
  }
  .dron {
    display: flex;
    width: 50%;
    height: 100%;
  }
  .dron2 {
    display: none;
  }
  .big-header {
    width: 100%;
    padding-top: 15px;
    padding-left: 15px;
    gap: 10px;
    padding-right: 20px;
    background-color: #f5fdff;
  }
  .reduce {
    display: none;
  }
  .box1 {
    border-right: 0;
  }
  .little-box {
    border: 0;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
  }
  .little-box-control {
    width: 100%;
    margin: 0 auto;
    margin-left: -19px;
  }
  .order1 {
    max-width: 360px;
    margin-left: 7px;
    margin-top: -52px;
  }
  .last-header {
    background-color: rgba(174, 204, 255, 0.1);
  }
  .bundles-flex {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding-right: 0;
    margin-left: -65px;
  }
  .bundles {
    margin-top: 16px;
  }
  .bundle-right {
    max-width: 360px;
  }
  .feels {
    padding-right: 10px;
    box-sizing: border-box;
  }
}
.section1-footer {
  max-width: 1440px;
  background-color: #11346f;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  padding-left: 104px;
  padding-right: 60px;
  color: white;
}
.section1-footer-flex {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 0;
  gap: 16px;
  font-weight: 800;
  font-size: 16px;
}
.mid-box {
  max-width: 1440px;
  background: linear-gradient(118.72deg, #aeccff -18.14%, #197aff 165.34%);
  margin: 0 auto;
}
.mid-box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 29px;
  gap: 15px;
}
.buy-more {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #11346f;
}
.limited {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #ffffff;
}
.mid-box-flex {
  display: flex;
  justify-content: center;
  margin: 58px auto;
  justify-content: space-around;
}
.mid-box-child {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 30px 5px 30px;
  background: #f6f8fc;

  border: 1.5px solid #197aff;
  border-radius: 18px;
  box-sizing: border-box;
}
.drons {
  width: 133px;
  max-height: 100px;
}
.text1 {
  margin-top: 66px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #11346f;
  margin-bottom: 17px;
}
.text2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  color: #11346f;
}
.text3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #11346f;
  margin-bottom: 33px;
}
.text4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #11346f;
  margin-bottom: 40px;
}
.text5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #11346f;
  margin-bottom: 48px;
}
.magic-button {
  width: 331px;
  height: 53px;
  background: #197aff;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;
  text-align: center;
  line-height: 53px;
}
.text6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 18px;
  color: #ffffff;
}
.popular-button {
  width: 126px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  background: #57ac73;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 16px;
}
.popular {
  line-height: 28px;
}
.get-free {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #11346f;
  margin-bottom: 19px;
}
.get-free span {
  color: #197aff;
}
.cifrebi {
  display: flex;
  gap: 23px;
}
.text-139 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  color: #11346f;
}
.free-ship {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 13px;

  color: #11346f;
}
.text-209 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 32px;
  text-align: center;
  color: #93a2bb;
}
.interest {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #11346f;
  margin-top: 11px;
}
.interest span {
  font-weight: 900;
  font-size: 14px;
}
.bevri-button {
  margin-top: 17px;
  box-sizing: border-box;
  width: 331px;
  height: 83px;
  border: 1px solid #aeccff;
  border-radius: 19px;
}
.button-2 {
  display: flex;
  gap: 24px;
  position: relative;
}
.button-2-1 {
  box-sizing: border-box;
  width: 158px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  background: #bff5be;
  border: 1px solid #99d298;
  border-radius: 19px;
  position: absolute;
}
.button-2-2 {
  width: 271.31px;
  height: 43px;
  background: #f0f6ff;
  border: 1px solid #aeccff;
  border-radius: 19px;
  margin-left: 60px;
  padding-right: 16px;
  box-sizing: border-box;
}
.money-back {
  text-align: right;
  line-height: 43px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 12px;
  color: #11346f;
}
.save-70 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  color: #11346f;
}
.six-order {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 13px;
  color: #11346f;
  text-align: center;
  margin-top: 11px;
}
.magic-button1 {
  width: 331px;
  height: 53px;
  background: #197aff;
  box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
  border-radius: 60px;
  text-align: center;
  line-height: 53px;
  margin-top: 50px;
}
.best-value {
  width: 126px;
  height: 28px;
  font-family: "Montserrat", sans-serif;
  background: #ac5780;
  border-radius: 50px;
  font-weight: 700;
  font-size: 12px;
  text-align: center;
  color: #ffffff;
  margin-top: 24px;
  margin-bottom: 16px;
}
.value {
  line-height: 28px;
}
@media (max-width: 1100px) {
  .mid-box-flex {
    gap: 41px;
    flex-direction: column;
    align-items: center;
  }

  .eclipse {
    width: 30px;
    height: 30px;
  }
  .section1-footer-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-weight: 800;
    font-size: 10px;
  }
  .hidden-text {
    display: block;
    text-align: center;
  }
  .hidden-text-375 {
    display: none;
  }
  .hidden-section {
    display: none;
  }
  .hidden-text-375-2 {
    display: block;
    text-align: center;
  }
  .hidden-text-375-3 {
    display: none;
  }
}
.last-section {
  max-width: 1440px;
  margin: 0 auto;
}
.hear-what {
  margin: 52px auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #11346f;
  margin-bottom: 26px;
}
.hear-what span {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 37px;
  color: #197aff;
}
.total-rev {
  margin-left: 5px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  color: #11346f;
}
.last-section-1 {
  max-width: 1100px;
  margin: 0 auto;
}
.last-sect-head {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.write-rev {
  width: 133px;
  height: 30px;
  background: #f6f8fc;
  border: 1px solid #213786;
  border-radius: 5px;
}
.write-rev-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  text-align: center;

  color: #3a3075;
}
.last-sect-box {
  max-width: 1100px;
  margin: 23px auto;
  display: flex;
  gap: 30px;
}
.last-sect-box-little {
  max-width: 285px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}
.megan {
  display: flex;
  justify-content: space-between;
  padding: 13px;
}
.megank {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 14px;
  color: #11346f;
}
.greenver {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 11px;
  color: #89c25f;
}
.pading {
  padding: 13px;
}
.bgtext {
  margin-top: 10px;
  margin-bottom: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 13px;

  color: #262626;
}
.lastsect {
  width: 100%;
}
.max-width375-footer {
  display: flex;
  align-items: center;
}
@media (max-width: 920px) {
  .last-sect-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .last-sect-head {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
@media (max-width: 375px) {
  .max-width375-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
}
.latest-footer{
  max-width:1440px;
  background: #11346F;
  margin: 0 auto;
  box-sizing: border-box;
   
}
.frequently{
  padding-top:34px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 37px;
color: #FFFFFF;
}
.footer-im-widt{
  width:100%;
}
.latest-footer-flex{
  max-width:1200px;
  display: flex;
  justify-content: space-between;
  margin:65px auto;
  gap:84px;
}
.little-box-footer{
  width: 652px;
  background: #194081;
  height: 59px;
  border: 1px solid #31548E;
  border-radius: 9px;
font-weight: 700;
font-size: 16px;
font-family: "Montserrat", sans-serif;
line-height: 59px;
color: #FFFFFF;
padding-left:30px;
}
 .see-all-faq{
  font-family: "Montserrat", sans-serif;
  margin-top:26px;
  font-weight: 800;
font-size: 16px;
color: #F6F8FC;
 }
 @media(max-width:1050px){
  .latest-footer-flex{
    max-width:1200px;
    display: flex;
    flex-direction: column;
    margin:65px auto;
    gap:24px;
  }
 }
 @media(max-width:660px){
  .footer-box{
    width:100%;
  }
  .little-box-footer{
    width: 100%;
    height:100%;

  }
  .see-all-faq{
    margin-bottom:24px;
    text-align: center;
  font-size: 16px;
   }
 }